<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Seminar Hub</b></h1>
    <p>Your Gateway to Educational Seminars and Events.</p>
    <div class="home-image">
        <img class="home-page-image" src="~/img/seminar-cloud.png" />
    </div>
</div>
