<ul>
  @for (item of articles; track $index) {
  <li>
    <div id="title">{{ item.title }}</div>
    @if(showReadMoreBtn) {
    <button (click)="readMore()">Read More</button>
    } @if(showHideBtn) {
    <button (click)="hideDesc()">Hide Desc</button>
    }
    <button (click)="toggleImage()">{{ imageButtonTitle }}</button>
    @if(articleDescLen > 0) {
    <div class="desc">{{ item.description }}</div>
    } @if(imageIsShown) {
    <img src="{{ item.imageUrl }}" alt="article image" />
    }
  </li>
  }
</ul>


