body {
  background-color: #eee;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
}

header p, main p, aside p, footer p{
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  color: #000;
}

header, footer{
    flex: 100%;
}
main{
    flex: 8 1 40rem;
}
aside {
    flex: 2 1 20rem;
}
