@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
  header h1 {
    display: block;
    margin-bottom: 5px;
  }
}
